main {
    background-color: rgba(20, 162, 184, 255);
}

.pheading {
    text-align: left;
    margin-left: 95px;
    padding: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    color: rgba(255, 95, 0, 255);
    background-color: white;
    border: 2px solid rgba(127, 185, 182, 255);
    border-radius: 8px;
    text-align: left;
    margin-left: 120px;
    margin-top: -20px;
    margin-bottom: 30px;
    width: 700px;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

h5 {
    color: rgba(255, 95, 0, 255);
    background-color: white;
    border: 2px solid rgba(127, 185, 182, 255);
    border-radius: 8px;
    text-align: left;
    position: absolute;
    margin-left: 1000px;
    margin-top: -90px;
    width: 312px;
    padding: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.sec {
    padding: 10px 8.5%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 15px;
    margin-left: 50px;
    text-align: center;
}

.products .card {
    width: 350px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    outline: 0.2rem solid rgb(146, 220, 220);
    padding: 0px;
    margin-bottom: 25px;
}

.products .card .desc {
    padding: 5px 20px;
    opacity: 0.8;
    text-decoration: underline;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: rgba(255, 95, 0, 255);
    color: white;
}

.lessons {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.products .card p {
    color: rgba(255, 95, 0, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    margin-left: 35px;
    margin-top: 90px;
    background-color: white;
    width: 80%;
    border: 3px solid rgba(127, 185, 182, 255);
    border-radius: 8px;
}

.lessons:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.modal-body {
    background-color: rgb(255, 255, 255);
    outline: 0.9rem solid rgb(146, 220, 220);
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 95, 0, 255);

}

.close {
    color: #fff;
}


.close:hover {
    color: rgba(20, 162, 184, 255);
}


.intro-2 {
    font-size: 14px;
}

#introtxt {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -60px;
}

.audio {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.download-btn {
    color: rgba(255, 95, 0, 255);
    background-color: white;
    border: 2px solid rgba(127, 185, 182, 255);
    border-radius: 8px;
    margin-left: 20px;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px 20px;
}

audio {
    width: 58.5%;
}